#
#   LAN Device discover service.
#
LAN_DEV_REDIS_HOST = '${REDIS_HOST}'
LAN_DEV_REDIS_PORT = ${REDIS_PORT}
LAN_DEV_REDIS_PROBER_IDENT_PREFIX = '${REDIS_PUBLISH_PREFIX}'

LAN_DEV_LIVENESS_TRACK_INTERVAL = ${TRACK_INTERVAL}
LAN_DEV_LIVENESS_PROBE_TIMEOUT = ${PROBE_TIMEOUT}
LAN_DEV_LIVENESS_PROBE_INTERVAL = ${PROBE_INTERVAL}
LAN_DEV_INTERFACE = '${MONITOR_INTERFACE}'
