# Logging
ACCESS_LOG = '$ACCESS_LOG'                   # 日志文件
ERROR_LOG = '$ERROR_LOG'
DEBUG_LOG = '$DEBUG_LOG'

MYSQL_DATABASE_HOST = '$MYSQL_HOST'           # 数据库配置
MYSQL_DATABASE_PORT = $MYSQL_PORT
MYSQL_DATABASE_USER = '$MYSQL_USER'
MYSQL_DATABASE_PASSWORD = $MYSQL_PASSWORD
MYSQL_DATABASE_DB = '$MYSQL_DB'
MYSQL_DATABASE_CHARSET = '$MYSQL_CHARSET'

#
#   LAN Device discover service.
#
LAN_DEV_REDIS_HOST = '$REDIS_HOST'
LAN_DEV_REDIS_PORT = $REDIS_PORT
LAN_DEV_REDIS_PROBER_IDENT_PREFIX = '$LAN_DEV_PREFIX'
